body{
  background-color: rgb(15, 13, 3);
}
.logo{
    
    font-size: 6rem;
    font-family: sans-serif;
}
.company-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.adage{
    margin-top: -50px;
}